.logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    color: #FFF;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    object {
        width: 40px;
        margin-right: 10px;
    }
}