main.home .banner {
    position: relative;
    height: 100vh;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(.7);
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 10px;

        &__title {
            text-align: center;
            font-size: 55px;
            color: #fff;
            font-family: 'Kaushan Script', cursive;
            // color: $color-primary;
            margin: 0;
    
            span {
                display: block;
                font-size: 35px;
                font-family: "Montserrat", sans-serif;
                color: #fff;
            }
        }

        &__button {
            color: #fff;
            text-decoration: none;
            display: block;
            margin: 20px auto 0;
            padding: 15px 30px;
            background-color: $color-primary;
            width: max-content;
            text-transform: uppercase;
            font-weight: 700;
            transition: .4s;

            &:hover {
                background-color: $color-secondary;
            }
        }
    }
}

main.home .presentation {
    background-color: $color-secondary;
    padding: 50px 10px;

    .container {
        display: flex;
    }

    &__image {
        width: 50%;
        height: 450px;
        position: relative;

        &::before {
            content: "";
            background-color: $color-text;
            width: 100%;
            height: 100%;
            border-radius: 40% 60% 60% 40% / 70% 20% 80% 30%;
            z-index: 1;
            overflow: hidden;
            position: absolute;
            animation: 15s linear infinite alternate bubble2;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 55% 45% 70% 30% / 60% 50% 50% 40%;
            animation: 15s linear infinite alternate bubble1;
            z-index: 2;
            position: relative;
        }
    }

    &__content {
        padding-left: 50px;
        color: #fff;
        width: 50%;

        &__title {
            font-family: 'Kaushan Script', cursive;
            font-size: 35px;
        }
    }
}

@keyframes bubble1 {
    0% {
        border-radius: 55% 45% 70% 30% / 60% 50% 50% 40%;
    }
    50% {
        border-radius: 20% 80% 30% 70% / 30% 30% 70% 70%;
    }
    100% {
        border-radius: 44% 56% 67% 33% / 78% 66% 34% 22%;
    }
}

@keyframes bubble2 {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 20% 80% 30%;
    }
    50% {
        border-radius: 65% 35% 37% 63% / 42% 54% 46% 58%;
    }
    100% {
        border-radius: 44% 56% 67% 33% / 78% 66% 34% 22%;
    }
}

section.programme {
    position: relative;
    padding: 50px 0;
    margin: 10vh 0 0;

    .background {
        background: $color-primary;
        position: sticky;
        top: 10vh;
        margin-left: auto;
        border-radius: 50px 0 0 50px;
        width: 65%;
        height: 80vh;
        z-index: -1;

        &.fixed {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
        }

        &.bottom {
            bottom: -200px;
            top: unset;
        }
    }

    .title {
        position: sticky;
        top: 90vh;
        height: max-content;

        h2 {
            transform: rotate(-90deg) translate(0px, 50px);
            transform-origin: left center;
            font-size: 11vh;
            margin: 0;
            white-space: nowrap;
            font-family: "Montserrat", sans-serif;
            color: $color-secondary;
        }
    }

    .container {
        display: flex;
        justify-content: flex-end;
        margin-top: calc(-90vh + 50px);
        padding-bottom: 200px;

        .films {
            display: flex;
            flex-wrap: wrap;
            max-width: 900px;
            justify-content: space-between;

            &__item {
                width: calc(33% - 15px);
                height: 400px;
                margin-bottom: 30px;
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                z-index: 1;

                > div {
                    position: absolute;
                    top: 100%;
                    transition: .4s ease;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: rgba(0, 0, 0, .5);

                    .add-to-basket {
                        background-color: $color-primary;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        padding: 7px;
                        cursor: pointer;
                        position: absolute;
                        bottom: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }

                        span {
                            position: absolute;
                            background-color: $color-secondary;
                            top: -3px;
                            right: -3px;
                            border-radius: 50px;
                            width: 12px;
                            height: 12px;
                            padding: 2px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            font-size: 16px;
                            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
                        }
                    }
                }

                &:hover > div {
                    top: 0;
                }

                &:nth-child(3n+2) {
                    transform: translateY(50%);
                }

                &__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    z-index: -1;
                }

                &__title {
                    margin: 0;
                    color: #fff;
                    position: relative;
                    font-size: 18px;
                    
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100px;
                        height: 1px;
                        background-color: #fff;
                    }
                }

                &__date {
                    margin-top: 20px;
                    color: #fff;

                    &__day {
                        font-weight: 600;
                    }

                    &__hour {
                        background-color: $color-secondary;
                        padding: 2px 10px;
                        width: max-content;
                        margin: 10px auto 0;
                        font-weight: 500;
                    }
                }

                &__quantity {
                    display: flex;
                    margin: 30px 0 0;
                    position: absolute;
                    bottom: 10px;
                
                    div {
                        color: #fff;
                        font-weight: 600;

                        &.button {
                            border: 1px solid $color-primary;
                
                            &:hover {
                                background-color: $color-primary;
                                color: $color-text;
                            }
                        }
                
                        &.text {
                            border-top: 1px solid $color-primary;
                            border-bottom: 1px solid $color-primary;
                        }
                    }
                }
            }
        }
    }
}

section#actualites .swiper {
    padding-bottom: 50px;

    .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: $color-secondary;
    }

    .swiper-button {
        background-color: $color-primary;
        width: 40px;
        height: 40px;

        &::after {
            font-size: 25px;
            color: $color-text;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: $color-secondary;

            &::after {
                color: #fff;
            }
        }
    }

    article {
        position: relative;
        overflow: hidden;
    
        img {
            height: 500px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        > div {
            position: absolute;
            bottom: 0;
            padding: 20px;
            background-color: rgba(0, 0, 0, .3);
            color: #fff;
    
            h3 {
                margin-top: 0;
            }
    
            a {
                color: $color-primary;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

section#contactez-nous {
    margin-top: 50px;
    .container {
        display: flex;
    }

    .map {
        width: 50%;
    }

    .contact-form {
        width: 50%;
        padding-right: 20px;
    }
}