#basket {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;

    &.show {
        display: flex;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .4;
        z-index: -1;
    }

    .content {
        max-width: 98%;
        width: 900px;
        max-height: 95%;
        overflow-y: auto;
        background-color: #fff;
        border-radius: 15px;

        .header {
            position: sticky;
            top: 0;
            border-bottom: 1px solid #ececec;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                margin: 0;
                padding-left: 20px;
            }

            .close {
                padding: 10px 20px;
                font-size: 25px;
                cursor: pointer;
                transition: .4s ease;

                &:hover {
                    background-color: #ececec;
                }
            }
        }

        .films__item__image {
            width: 220px;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
            margin-right: 15px;
        }

        .footer {
            border-top: 1px solid #ececec;
            padding: 20px;
            position: sticky;
            bottom: 0;
            background-color: #fff;
            display: flex;
            justify-content: flex-end;

            a {
                padding: 10px 20px;
                text-decoration: none;
                font-weight: 600;
                transition: .4s ease;
                cursor: pointer;

                &:first-of-type {
                    background-color: $color-secondary;
                    margin-right: 20px;
                    color: #fff;

                    &:hover {
                        background-color: darken($color-secondary, 10%);
                    }
                }

                &:last-of-type {
                    background-color: $color-primary;
                    color: $color-text;

                    &:hover {
                        background-color: darken($color-primary, 10%);
                    }
                }
            }
        }
    }
}