.form {
    > h2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
    > p {
        margin-bottom: 20px;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .form__group:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        flex: 1;

        input, textarea {
            padding: 10px;
            border: 1px solid #D3D3D3;
            border-radius: 0;
            outline: none;

            &:focus {
                border: 1px solid $color-text;
            }
        }

        button {
            background-color: $color-secondary;
            color: #fff;
            border: none;
            border-radius: 0;
            outline: none;
            padding: 20px 10px;
            font-weight: 600;
            transition: .4s ease;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                background-color: $color-primary;
                color: $color-text;
            }
        }
    }
}