header#main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
            a {
                text-transform: uppercase;
                padding: 30px 10px;
                transition: .4s;
                color: #fff;
                display: block;
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    &.sticky {
        background-color: $color-secondary;
        box-shadow: 0 0 10px -5px rgba(0, 0, 0, .5);
        position: sticky;
        
        nav li a {
            padding: 20px 10px;
        }
    }
}