header#main-header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
            a {
                text-transform: uppercase;
                text-decoration: none;
                padding: 10px;
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}